 #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
    #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1em; height: 18px; }
    #sortable li span { position: absolute; margin-left: -1.3em; }


#miniCourse{
 display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#miniCourseLeft{
 width: 45%;
 float: left;
 margin: 10px;
}


#miniCourseRight{
 width: 45%;
 float: right;
 margin: 10px;

}

#miniCourseAvatar{
 float: left;
 margin: 5px 20px 5px 5px;
}

#miniCourseDetails{
 width: 100%;
 margin: 5px 0px 5px 0px;
}